.arjs-loader{
    height:100%;
    width:100%;
    position : absolute;
    top:0;
    left:0;
    background-color: aquamarine;
    z-index: 9999;
    display:flex;
    justify-content:center;
    align-items:center;
}